/* Estilos para la barra de navegación */


nav{
    margin-bottom: 39px;
}


.formaBoton{
    background: #FFB819;
    border-radius: 20px;
    border: none;
    padding: 5px;
    width: 90px;
}







/* Estilos para la barra de navegación */